body {
    font-family: montserrat;
    background-color: rgb(223, 223, 223);
    margin: 0;
    padding: 0;
}

.section-padding {
  padding: 100px;
}
.navbar {
    background:rgba(255, 255, 255, 0.5);
    width: 100%;
    z-index: 1;
    height: 100px;
}

.w-100 {
  height: 100vh;
}

.navbar-nav a{
  font-weight: 400;
  margin: -10px;
}

.navbar img {
  width: 300px;
  height: 100px;
  margin-top: 10px;
}

.katalog {
  margin: 20px;
  padding-right: 200px;

}
.navbarcon {
  margin-top: -20px;
}

.navbar-brand {
    font-weight: 700;
    
}

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.collapse {
    margin-left: 10px;
    padding-left: 10px;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

.logocs{
  width: 200px;
  height: 200px;
}

.column {
  flex: 0 0 50%;
  padding: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.column3 {
  padding: 20px;
  margin-top: -65px;

}

.first {
  flex: 0 0 50%;
  padding: 20px;
}

.navbar-brand {
    font-size: 40px;
  }
  
  a {
    color: white;
  }
  
  li {
    float: left;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    color: white;
    padding-top: 32px;
  }
  
  .main {
    height: 800px;
    background-image: url(kodingan.jpg);
  
  }
  .header {
    background-color: #006666;
    color: #fff;
    height: 90px;
    padding-top: 10px;
  }
  
  .header-logo {
    float: left;
    font-size: 40px;
    padding-left: 5px;
    padding-top: 8px;
  }
  
  .header-list {
    float: right;
  }
  
  .footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .header img{
    height: 80px;
    width: 110px;
    float:left;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    margin-right:20px;
  }
  
  .card {
    background-color: #2f5167;
  }
  
  .row {
    float: right;
  }
  
  .col-md-3 {
    width: 280px;
  }
  
  .card-title {
    color: white;
  }
  
  .card-text {
    color: white;
  }
  
  .pilihan {
    font-size: 20px;
    text-align: left;
    padding-left: 55px;
    padding-top: 25px;
  
  }
  
  .filter {
    padding-top: 15px;
    padding-left: 10px;
  }
  
#contact {

  height: 450px;



  }

#contact h3 {
  font-style: poppins;
  color:white;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

#contact img {
  margin: 10px;
}

.kontak {
  background-image: url(/aset/contact.png);
  margin-top: 300px;
}

  .tombol {
    width: 500px;
    height: 80px;
    background: #00985b;
    left: 700px;
    top: 1200px;
    align-items: center;

  }
  
  .foot {
    height: 20px;
  }

  .foot p {
    background-color: black;
    color: gray;
    text-align: center;
    padding-top: 10px;
  }

  .Contact {
    color: #fff;
  }

  .carousel-indicators .ol {
    width: 1px;
    height: 1px;
  }

ol {
  size: 2px;
}

  ol li {
    margin-bottom: -80px;
    
  }
